#LknRedeForWoocommerceProPixImage {
    height: 30px;
    margin-left: 0px !important;
}

.LknIntegrationRedeForWoocommercePaymentFields {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LknIntegrationRedeForWoocommercePaymentFields svg {
    width: 60px;
    margin-left: 10px;
}

#lknRedeForWoocommerceProPixRedeDiv {
    display: flex;
    justify-content: center;
}

#lknRedeForWoocommerceProPixRedeDiv svg {
    width: 60px;
    margin-left: 10px;
}