#LknRedeForWoocommerceProPixImage {
    height: 30px;
    margin-left: 0px !important;
}

.LknIntegrationRedeForWoocommercePaymentFields {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LknIntegrationRedeForWoocommercePaymentFields svg {
    width: 60px;
    margin-left: 10px;
}

#LknIntegrationRedeForWoocommercePaymentFields {
    display: flex;
    justify-content: center;
}

#LknIntegrationRedeForWoocommercePaymentFields svg {
    width: 60px;
    margin-left: 10px;
}

#rede_credit_holder_name {
    margin-left: 0px !important;
    padding-left: 8px !important;
}