/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.lowOpacity {
    opacity: 0.5;
}

textarea:disabled {
    resize: none;
}

.lknIntegrationRedeForWoocommerceTooltiptext {
    visibility: hidden;
    padding: 0.618em 1em;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: .8em;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1;
    transform: translateX(57%);
    margin-left: -100px;
    margin-top: 17px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: normal
}

#lknIntegrationRedeForWoocommerceTooltipSpan:hover+.lknIntegrationRedeForWoocommerceTooltiptext {
    visibility: visible;
    opacity: 1;
}

.lknIntegrationRedeForWoocommerceBecomePRO {
    text-decoration: none;
    color: #FF0D08;
    font-size: 0.84rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.lknIntegrationRedeForWoocommerceBecomePRO:hover {
    color: #FF0D08;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv{
    padding: 10px 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu{
    height: 27px;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a:first-of-type {
    margin: 0px !important;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a {
    height: 22px !important;
    border: none;
    background-color: #F0F0F1;
    color: #9A9A9A;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a:hover {
    color: black;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a.nav-tab.nav-tab-active {
    margin-top: 1.5px !important;
    color: black;
}

#lknIntegrationRedeForWoocommerceSettingsCard {
    color: white;
    min-width: 370px;
    width: 370px;
    height: 192px;
    background-color: #121519;
    border-radius: 10px;
    margin-bottom: 150px;
    background-position: right bottom, left top calc(15px);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 15px 45px 15px 20px;
    box-sizing: border-box;
    gap: 20px;
}

#lknIntegrationRedeForWoocommerceDivLogo{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: inter;
    font-weight: 500;
}

#lknIntegrationRedeForWoocommerceDivLogo p{
    margin: 0;
    font-size: x-small;
}

#lknIntegrationRedeForWoocommerDivLinks{
    display: flex;
    justify-content: space-between;
}

#lknIntegrationRedeForWoocommerDivLinks div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Inter';
}

#lknIntegrationRedeForWoocommerceSettingsCard a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: small;
}

#lknIntegrationRedeForWoocommerDivLinks a b{
    color: #D1D838;
    font-size: small;
}

#lknIntegrationRedeForWoocommerceSettingsCard img{
    height: 25px;
}

#lknIntegrationRedeForWoocommerceSettingsCardTable{
    display: flex;
    align-items: center;
}

#lknIntegrationRedeForWoocommerStarsDiv img{
    height: 10px;
}

#lknIntegrationRedeForWoocommerStarsDiv{
    width: fit-content;
}


#lknIntegrationRedeForWoocommerStarsDiv a{
    flex-direction: column;
}

#lknIntegrationRedeForWoocommerStarsDiv p{
    margin: 0;
    font-size: x-small;
    font-family: 'Inter';
    width: 100%;
}

#lknIntegrationRedeForWoocommerDivContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#lknIntegrationRedeForWoocommerceSettingsCard{
    margin-bottom: 125px;
    gap: 25px;
}

@media (max-width: 1205px) {
    #lknIntegrationRedeForWoocommerceSettingsCardTable {
        flex-direction: column;
        align-items: flex-start;
    }
    #lknIntegrationRedeForWoocommerceSettingsCard {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    
}

@media (max-width: 782px) {
    .lknIntegrationRedeForWoocommerceTooltiptext {
        transform: translateX(-20%);
        margin-left: 0px;
    }
}