/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.lowOpacity {
    opacity: 0.5;
}

textarea:disabled {
    resize: none;
}

.lknIntegrationRedeForWoocommerceTooltiptext {
    visibility: hidden;
    padding: 0.618em 1em;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: .8em;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1;
    transform: translateX(57%);
    margin-left: -100px;
    margin-top: 17px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: normal
}

#lknIntegrationRedeForWoocommerceTooltipSpan:hover+.lknIntegrationRedeForWoocommerceTooltiptext {
    visibility: visible;
    opacity: 1;
}

.lknIntegrationRedeForWoocommerceBecomePRO {
    text-decoration: none;
    color: #FF0D08;
    font-size: 0.84rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.lknIntegrationRedeForWoocommerceBecomePRO:hover {
    color: #FF0D08;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv {
    padding: 10px 24px;
    border-radius: 10px;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu {
    height: 37px;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a:first-of-type {
    margin: 0px !important;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a {
    height: 22px !important;
    border: none;
    background-color: #F0F0F1;
    color: #9A9A9A;
    padding: 7px 30px;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a:hover {
    color: black;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a.nav-tab.nav-tab-active {
    margin-top: 1.5px !important;
    color: black;
    background-color: #FFFFFF;
}

#lknIntegrationRedeForWoocommerceSettingsCard {
    color: white;
    max-width: 370px;
    height: fit-content;
    background-color: #121519;
    border-radius: 10px;
    margin-bottom: 150px;
    background-position: right bottom, left top calc(15px);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 15px 45px 15px 20px;
    box-sizing: border-box;
    gap: 20px;
}

#lknIntegrationRedeForWoocommerceDivLogo {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: inter;
    font-weight: 500;
}

#lknIntegrationRedeForWoocommerceDivLogo p {
    margin: 0;
    font-size: x-small;
}

#lknIntegrationRedeForWoocommerDivLinks {
    display: flex;
    justify-content: space-between;
    gap: 6%;
}

#lknIntegrationRedeForWoocommerDivLinks div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Inter';
}

#lknIntegrationRedeForWoocommerceSettingsCard a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: small;
}

#lknIntegrationRedeForWoocommerDivLinks a b {
    color: #D1D838;
    font-size: small;
}

#lknIntegrationRedeForWoocommerceSettingsCard img {
    height: 25px;
}

.lknIntegrationRedeForWoocommerceDivGeral {
    display: flex;
    gap: 25px;
}

.lknIntegrationRedeForWoocommerceDivGeral>*:first-child {
    flex-grow: 1;

    width: 100%;
    min-width: 0;
    /* ou flex-grow: 1; */
}

/* Segundo filho - 30% do espaço */
.lknIntegrationRedeForWoocommerceDivGeral>*:last-child {
    flex: 0 0 28%;
    min-width: 320px;
    position: sticky;
    top: 102px;
    /* Distância do topo quando "grudado" */
    align-self: flex-start;
    /* Alinha no topo do container */
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv {
    padding: 10px 24px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv table {
    width: 100% !important;
    table-layout: fixed !important;
    border-collapse: collapse;
    box-sizing: border-box;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr th {
    width: 200px !important;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr th label {
    font-size: 20px;
    font-weight: 600;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr th p {
    margin: 5px 0px 10px;
    color: rgb(52, 59, 69);
}

.form-table tbody,
.form-table tbody tr td {
    width: 100% !important;
}

.form-table tr {
    display: table;
    width: 100% !important;
}

#lknIntegrationRedeForWoocommerceSettingsCardTable tr td,
#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr td {
    background-color: #FFFFFF;
    border: 1px solid rgb(223, 223, 223);
    padding: 10px 30px;
    width: 100% !important;
    box-sizing: border-box;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr td div.lkn-field-title {
    font-weight: bold;
    font-size: 16px;
    margin: 6px 4px;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr td div.lkn-field-description {
    margin-left: 4px
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr td div.lkn-rede-field-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 4px;
    min-height: 120px;
    color: rgb(44, 51, 56);
}

/*Campos filhos ocupam toda largura disponível */
#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr td div.lkn-rede-field-body input:not([type="checkbox"]):not([type="radio"]):not([type="button"]),
#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr td div.lkn-rede-field-body select,
#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr td div.lkn-rede-field-body textarea,
#lknIntegrationRedeForWoocommerceSettingsLayoutDiv tr td div.lkn-rede-field-body .select2-container {
    width: 100% !important;
    min-width: 0px !important;
    box-sizing: border-box;
}

#lknIntegrationRedeForWoocommerStarsDiv img {
    height: 10px;
}

#lknIntegrationRedeForWoocommerStarsDiv {
    width: fit-content;
}


#lknIntegrationRedeForWoocommerStarsDiv a {
    flex-direction: column;
}

#lknIntegrationRedeForWoocommerStarsDiv p {
    margin: 0;
    font-size: x-small;
    font-family: 'Inter';
    width: 100%;
}

#lknIntegrationRedeForWoocommerDivContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#lknIntegrationRedeForWoocommerceSettingsCard {
    margin-bottom: 5px;
    gap: 25px;
}

/* Endpoint */
#integrationwoocommerceRedePixEndpointField {
    display: flex;
    flex-direction: column;
}

#integrationwoocommerceRedePixEndpointAlert {
    display: flex;
    gap: 10px;
    align-items: center;
}

#woocommerce_integration_rede_pix_clear_order_records,
#woocommerce_rede_credit_clear_order_records,
#woocommerce_rede_debit_clear_order_records,
#woocommerce_maxipago_credit_clear_order_records,
#woocommerce_maxipago_debit_clear_order_records {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 0px 20px 0px 20px;
}

#lknWcRedeOrderLogs pre {
    padding: 5px;
    background-color: #D9D9D9;
    width: fit-content;
    border-radius: 4px;
    margin: 0;
    white-space: pre-wrap
}

#lknWcRedeOrderLogs pre {
    padding: 10px;
    background-color: #D9D9D9 !important;
    width: fit-content;
    max-width: 96%;
    border-radius: 4px;
    margin: 0;
    white-space: pre-wrap;
    overflow-x: auto;
}

#lknWcRedeOrderLogs h3 {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

#lknWcRedeOrderLogs div {
    display: flex;
    gap: 6px;
    align-items: center;
}

#lknWcRedeOrderLogs pre {
    padding: 10px;
    background-color: #D9D9D9 !important;
    width: fit-content;
    max-width: 96%;
    border-radius: 4px;
    margin: 0;
    white-space: pre-wrap;
    overflow-x: auto;
}

#lknWcRedeOrderLogs h3 {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

#lknWcRedeOrderLogs div {
    display: flex;
    gap: 6px;
    align-items: center;
}

@media (max-width: 1225px) {
    #lknIntegrationRedeForWoocommerceSettingsCardTable {
        flex-direction: column;
        align-items: flex-start;
    }

    #lknIntegrationRedeForWoocommerceSettingsCard {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .lknIntegrationRedeForWoocommerceDivGeral {
        display: block;
    }

}

@media (max-width: 782px) {
    .lknIntegrationRedeForWoocommerceTooltiptext {
        transform: translateX(-20%);
        margin-left: 0px;
    }
}