/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.lowOpacity {
    opacity: 0.5;
}

textarea:disabled {
    resize: none;
}

.lknIntegrationRedeForWoocommerceTooltiptext {
    visibility: hidden;
    padding: 0.618em 1em;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: .8em;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1;
    transform: translateX(57%);
    margin-left: -100px;
    margin-top: 17px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: normal
}

#lknIntegrationRedeForWoocommerceTooltipSpan:hover+.lknIntegrationRedeForWoocommerceTooltiptext {
    visibility: visible;
    opacity: 1;
}

.lknIntegrationRedeForWoocommerceBecomePRO {
    text-decoration: none;
    color: #FF0D08;
    font-size: 0.84rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.lknIntegrationRedeForWoocommerceBecomePRO:hover {
    color: #FF0D08;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutDiv{
    padding: 10px 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu{
    height: 27px;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a:first-of-type {
    margin: 0px !important;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a {
    height: 22px !important;
    border: none;
    background-color: #F0F0F1;
    color: #9A9A9A;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a:hover {
    color: black;
}

#lknIntegrationRedeForWoocommerceSettingsLayoutMenu a.nav-tab.nav-tab-active {
    margin-top: 1.5px !important;
    color: black;
}

#lknIntegrationRedeForWoocommerceSettingsCard {
    min-width: 325px;
    width: 325px;
    height: 185px;
    background-color: #121519;
    border-radius: 10px;
    margin-bottom: 150px;
    background-position: right bottom, left top calc(15px);
    background-repeat: no-repeat;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

#lknIntegrationRedeForWoocommerceSettingsCard img{
    height: 25px;
}

#lknIntegrationRedeForWoocommerceSettingsCardTable{
    display: flex;
    align-items: center;
}

@media (max-width: 1150px) {
    #lknIntegrationRedeForWoocommerceSettingsCardTable {
        flex-direction: column;
        align-items: flex-start;
    }

    #lknIntegrationRedeForWoocommerceSettingsCard{
        margin-bottom: 0px;
    }
}

@media (max-width: 782px) {
    .lknIntegrationRedeForWoocommerceTooltiptext {
        transform: translateX(-20%);
        margin-left: 0px;
    }
}